# Build
/bin/*
/build/
/dist/
/vendor/
/vine
/vine.exe
/build.sh
*.deb
**/*.pb.go # protobuf code gen

# Misc
/.vscode/
*.mp4
bitcoin.pdf

# Drafting
/draft/

# Testing
/test

# Managment and testing scripts
/session.sh
/deploy
/up
/down
/test

# Notes
/notes/
notes.txt
notes.md
TODO*
*.json

/config
